.main-title{
    text-align: center;
}
a {
    color: rgb(81, 81, 84)    
}
.ul-title{
    align-content: center;
    
}
.ul-principal {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: -33px;
    padding-right: 25%;
    padding-left: 25%;
}
li{
    margin: 1%;
}

.m-h{
    display: flex;
    flex-direction:row;
    margin-top: -50px;
}

.nav-menu{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 179px;
    margin-top: -16px;
    position: absolute;
}


.principal-box {
    text-align: center;
    padding: 20px
}

.image-container {
    display:inline-block;
    width: calc(25% - 13px);
    text-align: center;
    margin: 5px;
}
img {
    width: 100%;
}

hr{
    height: 2px;
    background-color: rgb(214, 191, 157);
}
.pre-foot{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerr{
    background-color: rgb(212, 188, 151);
    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
}